POSTGRES_USERNAME="your_postgres_username"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DATABASE="your_postgres_database"

RABBITMQ_USERNAME="your_rabbitmq_username"
RABBITMQ_PASSWORD="your_rabbitmq_password"
RABBITMQ_VHOST="your_rabbitmq_vhost"

REDIS_PASSWORD="your_redis_password"

FLOWER_USERNAME="your_flower_username"
FLOWER_PASSWORD="your_flower_password"
POSTGRES_USERNAME="your_postgres_username"
POSTGRES_PASSWORD="your_postgres_password"
POSTGRES_DATABASE="your_postgres_database"

RABBITMQ_USERNAME="your_rabbitmq_username"
RABBITMQ_PASSWORD="your_rabbitmq_password"
RABBITMQ_VHOST="your_rabbitmq_vhost"

REDIS_PASSWORD="your_redis_password"

FLOWER_USERNAME="your_flower_username"
FLOWER_PASSWORD="your_flower_password"